.bodyMain{

}
.cityTitle{
    padding-top:30px;
    font-size:42px;
    text-transform: capitalize;
    font-weight:800;
    color:white;
    letter-spacing: 5px;
}
.search{
    margin:70px 20px 0 0;
    border-radius:8px;
    padding:10px 60px;
}
.submit{
    padding:10px 20px;
    border-radius:8px;
    background-color:rgb(252, 197, 58);
}
.currentStats, .forecast{
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 10px;
    max-width: 575px;
    margin:20px auto;
    padding:10px 50px 10px 0;
}
.currentStatsTemp{
    font-size: 82px;
    font-weight: 700;
}
.currentUnit{
    position:relative;
    top:-40px;
    margin: 0 10px;
    font-size: 25px;
}

 .currentStatsWind, .currentStatsHumidity, .currentStatsPrecipitation{
position: relative;
top:40px;
color:rgba(0, 0, 0, 0.542);
text-align: start;
font-size: 20px;
line-height: 2;
}
 .currentStatsWind strong,
 .currentStatsHumidity strong,
 .currentStatsPrecipitation strong,
 .forecastHigh{
color:rgb(71, 139, 7);
text-align: center;
 }
 .currentStatsDescription{
  position: relative;
  left:-20px;
 }

.forecast ul{
 list-style-type:none;
}
.forecastDay{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.542);
    font-weight: 450;
}
.forecast span{
    padding:20px 38px;
    text-align: left;
}
.forecast .row{
    padding-bottom:20px;
   
}
.forecastHigh{
    font-weight: 600;
}
.forecastIcon, .forecastDay, .forecastHigh, .forecastLow{
display:grid;
column-gap: 30px;
}
hr{
        color: rgba(0, 0, 0, 0.163);
        padding:0;
        margin:0;
}