 .forecastHigh {
     color: rgb(71, 139, 7);
     text-align: center;
 }



 .forecast ul {
     list-style-type: none;
 }

 .forecastDay {
     font-size: 20px;
     color: rgba(0, 0, 0, 0.542);
     font-weight: 450;
 }

 .forecast span {
     padding: 20px 38px;
     text-align: left;
 }

 .forecast .row {
     padding-bottom: 20px;

 }

 .forecastHigh {
     font-weight: 600;
 }


 hr {
     color: rgba(0, 0, 0, 0.163);
     padding: 0;
     margin: 0;
 }